.input-number-product {
    display: flex;
    width: 100%;
    min-height: 30px;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin-left: 10px;
    width: auto;
    float: left;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #014686;
    border-radius: 5px;
    padding: 2px;
}

.input-number-product input {
    padding: 0 2px;
    text-align: center;
    margin: 0px;
    display: block;
    float: left;
    height: 35px;
    border: 0;
    width: 45px;
    text-align: center;
    box-shadow: none;
    border-radius: 8px;
    font-size: 15px;
}

.input-number-product button {
    font-size: 20px;
    line-height: 0px;
    border: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #014686;
    float: left;
    color: #fff;
    text-align: center;
    padding: 0px;
    border-radius: 5px;
}

.input-number-product button:hover {
    border: none;
    background-color: #ffb42e;
    color: #fff;
}

.addtocart {
    border: 0;
    height: 50px;
    padding: 0 20px;
    color: #fff;
    text-transform: uppercase;
    /* width: 100%; */
    font-weight: 500;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    background: #ffb42e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 12px;
}

.buynow {
    display: flex;
    background: #014686;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    font-size: 14x;
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    width: calc(50% - 5px);
    height: 50px;
    border: none;
}

.buynow:hover {
    background-color: #d52d33;
}

.service-pro {
    text-align: center;
    border: 1px solid #014686;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.service-pro .title {
    background: #014686;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}



.product-tab {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #014686;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.title-tab {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.commit-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 14px;
    padding: 10px;
}

.commit-list li {
    display: flex;
    flex-direction: column;
}

.commit-list .top-line {
    display: flex;
    align-items: center;
    gap: 6px;
}

.commit-list .check {
    color: #007bff; /* xanh dương */
    font-weight: bold;
    font-size: 18px;
}

.commit-list b {
    font-size: 16px;
}

.commit-list p {
    margin: 2px 0 0 24px; /* lùi vào dưới title */
    font-size: 12px;
    color: #555;
}
